<!DOCTYPE html>
<html>
  <head>
    <title>Strawgoh | After School Classes Portal</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
    ></script>
    <link rel="manifest" href="strawgoh.webmanifest" />
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("service-worker.js");
        console.log("Service Worker on");
      }
    </script>
  </head>
  <body>
    <!--Within this App div, everything we want to display in our Vue App will be shown-->
    <div id="App">
      <!--The elements in this div will be displayed only if the conditions in the v-if are met-->
      <div v-if="showProductPage & !showCartPage & !showCheckoutPage">
        <div id="Home">
          <div class="Navigation">
            &nbsp;&nbsp;
            <button
              id="Cart"
              @click="showTheCartPage"
              :disabled="cart.length == 0"
            >
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
            <br />
            <img id="Websitelogo" src="thelogo.png" />
          </div>
          <br />
          <br />
          <div class="Sortbox">
            <br />
            <center>
              <h1 id="Sortby">Sort by :</h1>
              <br /><br />
              <div id="Filters">
                Subject:
                <button class="Ascdesc" id="Nameup" @click="nameAsc">
                  <i class="fa-solid fa-arrow-up"></i>
                </button>
                <button class="Ascdesc" id="Namedown" @click="nameDesc">
                  <i class="fa-solid fa-arrow-down"></i>
                </button>
                <br /><br />
                Location:
                <button class="Ascdesc" id="Locationup" @click="locationAsc">
                  <i class="fa-solid fa-arrow-up"></i>
                </button>
                <button class="Ascdesc" id="Locationdown" @click="locationDesc">
                  <i class="fa-solid fa-arrow-down"></i>
                </button>
                <br /><br />
                Fee:
                <button class="Ascdesc" id="Priceup" @click="priceAsc">
                  <i class="fa-solid fa-arrow-up"></i>
                </button>
                <button class="Ascdesc" id="Pricedown" @click="priceDesc">
                  <i class="fa-solid fa-arrow-down"></i>
                </button>
                <br /><br />
                Teacher:
                <button class="Ascdesc" id="Teacherup" @click="teacherAsc">
                  <i class="fa-solid fa-arrow-up"></i>
                </button>
                <button class="Ascdesc" id="Teacherdown" @click="teacherDesc">
                  <i class="fa-solid fa-arrow-down"></i>
                </button>
                <br /><br />
                Availability:
                <button class="Ascdesc" id="Spaceup" @click="spaceAsc">
                  <i class="fa-solid fa-arrow-up"></i>
                </button>
                <button class="Ascdesc" id="Spacedown" @click="spaceDesc">
                  <i class="fa-solid fa-arrow-down"></i>
                </button>
              </div>
            </center>
          </div>
          <br />
          <input
            type="text"
            id="Search"
            placeholder="Search Subject Name, Code, Location or Teacher Here..."
            v-model="searchTerm"
          />
          <div class="Theclasses">
            <table id="Classtable" cellspacing="15">
              <tr v-for="(classItem, index) in classes" v-if="index % 3 === 0">
                <td v-for="i in 3" v-if="(index + i - 1) < classes.length">
                  <div class="Subjectbox">
                    <div id="Subjectname">
                      {{ classes[index + i - 1].code }}:
                      {{ classes[index + i - 1].name }}
                    </div>
                    <div v-html="classes[index + i - 1].fontawsm"></div>
                    <div id="Subjectinfo">
                      <b>Location: </b> {{ classes[index + i - 1].location }}
                      <br />
                      <b>Fee: </b> £ {{ classes[index + i - 1].price }}
                      <br />
                      <b>Teacher: </b> {{ classes[index + i - 1].teacher }}
                      <br />
                      <b>Space: </b>
                      <span v-if="classes[index + i -1].space > 0">{{
                        classes[index + i - 1].space
                      }}</span>
                      <span style="color: rgb(158, 32, 32);" v-else
                        >Unavailable</span
                      >
                      <br />
                    </div>
                    <br />
                    <button
                      class="Addtocart"
                      :id="classes[index + i -1].name"
                      @click="addToCart(classes[index + i - 1])"
                      :disabled="classes[index + i -1].space == 0"
                    >
                      <i class="fa-solid fa-cart-plus"></i> Add To Cart
                    </button>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <br />
        </div>
      </div>
      <!--The elements in this div will be displayed only if the conditions in the v-if are met-->
      <div v-if="!showProductPage & showCartPage & !showCheckoutPage">
        <div id="Cartpage">
          <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i
            @click="showTheCartPage"
            id="Back"
            class="fa-solid fa-arrow-left"
          ></i>
          <br />
          <div class="Cartitems">
            <br />
            <center>
              <h1>Your Cart</h1>
            </center>
            <div v-if="cart.length > 0">
              <div v-for="(cartItem, index) in cart" class="CartItem">
                <button class="Delete" @click="deleteFromCart(index)">
                  <i id="Trash" class="fa-solid fa-trash"></i>
                </button>
                <div class="Classesincart">
                  <br />
                  <div class="Cartsubject">
                    &nbsp;&nbsp;<b>{{ cartItem.name }}</b>
                  </div>
                  <div class="Qty">
                    &nbsp;&nbsp;&nbsp;&nbsp;<b>Qty:</b>
                    <button
                      id="Qtydown"
                      :disabled="cartItem.cartqty == 1"
                      @click="decQty(cartItem)"
                    >
                      -
                    </button>
                    {{ cartItem.cartqty }}
                    <button
                      id="Qtyup"
                      :disabled="cartItem.cartqty == 5"
                      @click="incQty(cartItem)"
                    >
                      +
                    </button>
                  </div>
                  <div class="Cartprice">
                    &nbsp;&nbsp;&nbsp;&nbsp;<b>Price:</b> £
                    {{ cartItem.price * cartItem.cartqty }}
                  </div>
                  <br />
                </div>
                <br />
              </div>
            </div>
            <div v-else>
              <br /><br />
              <center>
                <p style="font-size: 25px;">
                  Uh oh! Looks like your cart is empty
                </p>
                <p style="font-size: 20px;">
                  Add items to cart to display them here
                </p>
              </center>
            </div>
          </div>
        </div>
        <div class="Total">
          <br />
          &nbsp;&nbsp;
          <b>To be paid&nbsp;:</b>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          £ {{ totalAmt }} <br /><br /><br /><br />
          <center>
            <button
              id="Checkoutbutton"
              @click="showTheCheckoutPage"
              :disabled="cart.length == 0"
            >
              <i class="fa-solid fa-cash-register"></i>&nbsp;&nbsp;Checkout
            </button>
          </center>
        </div>
      </div>
      <!--The elements in this div will be displayed only if the conditions in the v-if are met-->
      <div v-if="!showProductPage & !showCartPage & showCheckoutPage">
        <div id="Checkoutpage">
          &nbsp;&nbsp;&nbsp;
          <i
            @click="showTheCheckoutPage"
            id="Back"
            class="fa-solid fa-arrow-left"
          ></i>
          <br />
          <center>
            <div class="Theform">
              <br />
              <h1>Enter Your Details</h1>
              <br />
              <form>
                <input
                  id="FName"
                  type="text"
                  placeholder="First Name (Student)*"
                  v-model.trim="submission.fname"
                  required
                />
                <input
                  id="MName"
                  type="text"
                  placeholder="Middle Name (Student)"
                  v-model.trim="submission.mname"
                />
                <input
                  id="LName"
                  type="text"
                  placeholder="Last Name (Student)*"
                  v-model.trim="submission.lname"
                  required
                />
                <br /><br />
                <input
                  id="StudentID"
                  type="text"
                  placeholder="Student ID (SHSXXXXXX)*"
                  v-model.trim="submission.studentid"
                  required
                />
                <br /><br />
                <input
                  id="Phone"
                  type="number"
                  placeholder="Phone*"
                  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                  v-model.number="submission.phone"
                  required
                />
                <br /><br />
                <input
                  id="Email"
                  type="email"
                  placeholder="Student Email Address*"
                  v-model.trim="submission.email"
                  required
                />
                <br /><br />
                <input
                  id="Cardnumber"
                  type="number"
                  placeholder="Card Number*"
                  v-model.number="submission.cardno"
                  required
                />
                <input
                  id="CardCVV"
                  type="number"
                  placeholder="CVV*"
                  v-model.number="submission.cvv"
                  required
                />
                <br /><br />
                Card Expiration Date:
                <input
                  id="Cardexpiry"
                  type="date"
                  placeholder="Expiration Date*"
                  v-model="submission.cardexp"
                  required
                />
                <br /><br /><br />
              </form>
              <button
                id="Submitform"
                @click="submitTheForm"
                :disabled="submission.fname == '' || submission.lname == '' || submission.studentid == '' || submission.phone == '' || submission.email == '' || submission.cardno == '' || submission.cardexp == '' || submission.cvv == ''"
              >
                Submit
              </button>
            </div>
          </center>
        </div>
      </div>
    </div>
    <!--Data that will be loaded on the Vue app-->
    <script src="lessons.js"></script>
    <script type="text/javascript">
    //Introducing the VueJS App
      const AfterSchool = new Vue({
        //Adressing DOM element where Vue mounts the application
        el: "#App",
        //Vue JS Object Data
        data: {
          sitename: "Strawgoh | After School Classes Portal",
          //calling the classes array from lessons.js. This is a shorhand way of saying "classes: classes"
          classes,
          //Stores classes picked by user, initialized empty
          cart: [],
          //Stores orders made, initialized empty
          orders: [],
          //Stores form submission data, initialized empty
          submission: {
            id: Math.random(),
            fname: "",
            mname: "",
            lname: "",
            studentid: "",
            phone: "",
            email: "",
            cardno: "",
            cardexp: "",
            cvv: ""
          },
          //Search term initialized empty, this will be equal to the term entered by user in search bar
          searchTerm: "", 
          //The below booleans will be toggled to view different parts of this app. By default Product Page is shown, hence it's the only true value by default
          showProductPage: true,
          showCartPage: false,
          showCheckoutPage: false
        },
        //The property below is a watcher, it runs every time search term's value is changed
        watch: {
          searchTerm: function(newSearchTerm, oldSearchTerm) {
            //Watch for changes in the searchTerm and trigger search
            this.searchClasses();
          }
        },
        //All methods used
        methods: {
          //Adds lessons to cart, here classItem addresses the particular lesson we are adding
          addToCart(classItem) {
            //In case cart doesn't have that particular lesson
            if (classItem.cartqty == 0) {
              this.cart.push(classItem);
              alert("Added to Cart");
              classItem.space--;
              classItem.cartqty++;
            }
            //If the same lesson is in the cart already
            else {
              classItem.cartqty++;
              classItem.space--;
            }
          },
          //Deletes item from cart, here index addresses the particular lesson in cart that we are deleting
          deleteFromCart(index) {
            //This will be deleted from cart
            const deleted = this.cart[index];
            //Finding out the deleted variable from classes array
            const classItem = this.classes.find(
              item => item.name === deleted.name
            );
            //If such a value exists, do the following
            if (classItem) {
              classItem.space = 5;
              classItem.cartqty = 0;
            }
            //Delete from cart array
            this.cart.splice(index, 1);
          },
          //Using localecompare to sort subject name in ascending order
          nameAsc() {
            this.classes.sort((a, b) => a.name.localeCompare(b.name));
          },
          //Using localecompare to sort subject name in descending order
          nameDesc() {
            this.classes.sort((a, b) => b.name.localeCompare(a.name));
          },
          //Similar procedure is followed for other parameters
          locationAsc() {
            this.classes.sort((a, b) => a.location.localeCompare(b.location));
          },
          locationDesc() {
            this.classes.sort((a, b) => b.location.localeCompare(a.location));
          },
          priceAsc() {
            this.classes.sort((a, b) => a.price - b.price);
          },
          priceDesc() {
            this.classes.sort((a, b) => b.price - a.price);
          },
          teacherAsc() {
            this.classes.sort((a, b) => a.teacher.localeCompare(b.teacher));
          },
          teacherDesc() {
            this.classes.sort((a, b) => b.teacher.localeCompare(a.teacher));
          },
          spaceAsc() {
            this.classes.sort((a, b) => a.space - b.space);
          },
          spaceDesc() {
            this.classes.sort((a, b) => b.space - a.space);
          },
          //Display classes given they are not undefined in nature
          fetchClasses() {
            if (typeof classes !== "undefined") {
              this.classes = classes;
            }
          },
          //For search functionality
          searchClasses() {
            //To ensure search is not case sensitive
            const searchTerm = this.searchTerm.toLowerCase();
            //In case there is no search term
            if (!searchTerm) {
              this.fetchClasses();
            }
            //If there is a search term, look for lessons with matching subject name, code, location, or teacher
            else {
              this.classes = classes.filter(classItem => {
                return (
                  classItem.name.toLowerCase().includes(searchTerm) ||
                  classItem.code.toLowerCase().includes(searchTerm) ||
                  classItem.location.toLowerCase().includes(searchTerm) ||
                  classItem.teacher.toLowerCase().includes(searchTerm)
                );
              });
            }
          },
          //Toggles product page and cart page booleans to display the cart page. On clicking back, does opposite
          showTheCartPage() {
            this.showProductPage = !this.showProductPage; 
            this.showCartPage = !this.showCartPage;
          },
          //Toggles checkout page and cart page booleans to display the checkout page. ON clicking back, does opposite
          showTheCheckoutPage() {
            this.showCheckoutPage = !this.showCheckoutPage;
            this.showCartPage = !this.showCartPage;
          },
          //Shows a message on submission, and pushes submission object in orders array
          submitTheForm() {
            alert("Submitted");
            this.orders.push(submission);
          },
          //Increases qty in cart, while reducing space
          incQty(cartItem) {
            if (cartItem.cartqty < 5) {
              cartItem.cartqty++;
              cartItem.space--;
            }
          },
          //Decreases qty in cart, while increasing space
          decQty(cartItem) {
            if (cartItem.cartqty > 1) {
              cartItem.cartqty--;
              cartItem.space++;
            }
          }
        },
        created() {
          this.fetchClasses();
        },
        //Here all calculations are made
        computed: {
          //Counts the number of items in cart
          cartItemCount() {
            return this.cart.length;
          },
          //Calculates the total amount to be paid
          totalAmt() {
            return this.cart.reduce(
              (total, cartItem) => total + cartItem.price * cartItem.cartqty,
              0
            );
          }
        }
      });
    </script>
  </body>
</html>
